@tailwind base;
@layer base {
  img {
    @apply inline-block;
  }
}
@tailwind components;
@tailwind utilities;

:root {
  --background: #6e2925;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6e2925;
    --foreground: #171717;
  }
}

@font-face {
  font-family: vanguardFont;
  src: url('./LEMONMILK-Regular.otf');
}

@font-face {
  font-family: vanguardFont;
  src: url('./LEMONMILK-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: darlingFont;
  src: url('./Darling.ttf');
}

@font-face {
  font-family: skobisFont;
  src: url('./Crillee_Italic_Std_Regular.otf');
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: vanguardFont, Helvetica, sans-serif;
}

.freaky-font {
  font-family: darlingFont, sans-serif;
}

.skobis-font {
  font-family: skobisFont, sans-serif;
}

@keyframes ticker-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-33.333%);
    }
}

.animate-ticker {
    animation: ticker-scroll 30s linear infinite;
}
